@{

}

<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Electric Rose Events</title>
    <meta name="description" content="The Incredible Music HTML Template">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='components/slick/slick.css' rel='stylesheet' type='text/css'>
    <link href='components/swipebox/src/css/swipebox.min.css' rel='stylesheet' type='text/css'>
    <link href='fonts/iconfont/style.css' rel='stylesheet' type='text/css'>
    <link href='fonts/qticons/qticons.css' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/qt-main.css"><!-- INCLUDES THE CSS FRAMEWORK VIA #IMPORT AND SASS -->
    <link rel="shortcut icon" type="image/png" href="images/favicon.png" />
</head>
<body class="qt-debug-disabled">
    <!-- QT HEADER END ================================ -->
    <!-- ====================== HEADER ================================================ -->
    <header id="home" class="qt-header parallax-container scrollspy">
        <div class="parallax" data-start="width:100%;height:100%;top: 0%;left: 0%;" data-end="width:260%;height:260%;top:-80%;left:-80%;"><img src="images/galaxy-1.jpg" alt="background"></div>
        <div class="qt-valign-wrapper">
            <div class="qt-valign">
                <div class="container center-align">
                    <img src="images/Electric_Rose_logo-CMYK.png" class="logo" alt="Sonik template">
                    <h4></h4>
                </div>
            </div>
        </div>
        <div class="qt-particles" id="particlesheader" data-color="#ffffff" data-opacity="0.5" data-speed="1"></div>
    </header>
    <!-- ====================== HEADER END ================================================ -->
    <!-- ====================== MENU ================================================ -->
    <div id="menu" class="qt-menu-wrapper" data-0-top>
        <nav id="stickymenu" class="qt-menu grey-text text-lighten-4">
            <!-- desktop menu -->
            <ul class="qt-desktopmenu">
                <li><a href="#home" class="qwsmoothscroll">Home</a></li>
                <li><a href="#intro" class="qwsmoothscroll">Intro</a></li>
                <li><a href="#photos" class="qwsmoothscroll">Photos</a></li>
                <li><a href="#bio" class="qwsmoothscroll">Bio</a></li>
                <li><a href="#pricing" class="qwsmoothscroll">Pricing</a></li>
                <li><a href="#booking" class="qwsmoothscroll">Booking</a></li>
            </ul>
            <!-- mobile menu -->
            <ul id="slide-out" class="side-nav qt-mobilemenu">
                <li><a href="#home" class="qwsmoothscroll">Home</a></li>
                <li><a href="#intro" class="qwsmoothscroll">Intro</a></li>
                <li><a href="#photos" class="qwsmoothscroll">Photos</a></li>
                <li><a href="#bio" class="qwsmoothscroll">Bio</a></li>
                <li><a href="#pricing" class="qwsmoothscroll">Pricing</a></li>
                <li><a href="#booking" class="qwsmoothscroll">Booking</a></li>
            </ul>
            <a href="#" data-activates="slide-out" class="button-collapse qt-menu-switch"><span class="lnr lnr-menu"></span></a>
        </nav>
    </div>
    <!-- ====================== MENU END ================================================ -->
    <!-- main section  ================================ -->
    <main class="qt-main">

        <div id="intro" class="section section-bio parallax-container qt-fullscreen scrollspy">
            <div class="parallax"><img src="images/bio.jpeg" alt="background"></div>
            <div class="container">
                <div class="qt-framed flow-text" data-100p-top="opacity:0;" data-80p-top="opacity:0;" data-30p-top="opacity:1;">
                    <h2 class="qt-section-title">HEY FRIENDS!<i class="deco"></i></h2>
                    <div class="content qt-polydecor poly2">
                        <br />
                        Happily bringing a new, electric energy to your wedding or private event. As a husband and wife duo, we tag team to deliver the perfect atmosphere with just the right amount of buzz. With a high attention to detail and the love for creating a connection with our clients, we strive to cater you nothing short of the best. We look forward to hosting your next event!<br />
                        <br />
                        XOXO<br />
	                    &nbsp;&nbsp;&nbsp;Steven & Madison
                    </div>
                </div>
            </div>
        </div>
        
        <div id="photos" class="section section-photos black scrollspy">
            <h2 class="qt-section-title" data-100p-top="opacity:0;" data-80p-top="opacity:0;" data-50p-top="opacity:1;">PHOTOS<i class="deco"></i></h2>
            <div class="qtgallery" data-bottom-top="opacity:0;" data-center-top="opacity:1;">
                <div><img src="images/US2.jpg" alt="photo" /></div>
                <div><img src="images/gallery.jpg" alt="photo" /></div>
                <div><img src="images/gallery.jpg" alt="photo" /></div>
                <div><img src="images/gallery.jpg" alt="photo" /></div>
                <div><img src="images/gallery.jpg" alt="photo" /></div>
                <div><img src="images/gallery.jpg" alt="photo" /></div>
                <div><img src="images/gallery.jpg" alt="photo" /></div>
                <div><img src="images/gallery.jpg" alt="photo" /></div>
            </div>
        </div>

        <div id="bio" class="section section-bio parallax-container qt-fullscreen scrollspy">
            <div class="container">
                <div class="qt-framed flow-text" data-100p-top="opacity:0;" data-80p-top="opacity:0;" data-30p-top="opacity:1;">
                    <h2 class="qt-section-title">BIO<i class="deco"></i></h2>
                    <div class="content qt-polydecor poly2">
                        <h4>Steven</h4>
                        The genius behind the music engineering and sound quality, also known as our “Audiophile”. His brain is constantly thinking of beats and the next hym to his newest mix. New age DJ with only the highest standard for sound technology and equipment. Steven has a special ear for fine tuning and catering to the musical needs of those around him, and enjoys every second of it! 
                        <h4>Madison</h4>
                        The coordinator of operations behind the scenes ensuring all goes according to plan. Consistent communicator throughout your planning process, with a high attention to every fine detail. The “Master of Ceremonies" who will graciously host your next event. A top tier planner to create everlasting memories with those she helps. 
                    </div>
                </div>
            </div>
        </div>

        <div id="pricing" class="section section-bio parallax-container qt-fullscreen scrollspy">
            <div class="container">
                <div class="qt-framed flow-text" data-100p-top="opacity:0;" data-80p-top="opacity:0;" data-30p-top="opacity:1;">
                    <h2 class="qt-section-title">Pricing<i class="deco"></i></h2>
                    <div class="content qt-polydecor poly2">
                        <br />
                        All-inclusive wedding packages starting at $800.00<br />
                        Non-wedding events starting at $100 an hour.<br />
                        <b>Please inquire below to get a full list of our pricing and services.</b><br />
                    </div>
                </div>
            </div>
        </div>

        <div id="booking" class="section section-booking qt-fullscreen scrollspy  qt-polydecor poly3">
            <div class="qt-valign-wrapper">
                <div class="qt-valign flow-text">
                    <h2 class="qt-section-title" data-100p-top="opacity:0;" data-70p-top="opacity:1;">BOOKING<i class="deco"></i></h2>
                    <div class="qt-booking-form">
                        <div id="form" class="row">
                            <form id="contact-form" class="col s12" method="post" action="https://api.staticforms.xyz/submit">
                                <input type="hidden" name="accessKey" value="f01bdd3a-368f-40f4-841a-cd1c1d2e7809">
                                <input type="hidden" name="subject" value="Booking - Electric Rose Events" />
                                <input type="hidden" name="redirectTo" value="https://electricrose.events/?success=true">

                                <h4 class="center-align">Get in touch!</h4>
                                <div class="row">
                                    <div class="input-field col s6">
                                        <input name="$first_name" id="first_name" type="text" class="validate">
                                        <label for="first_name">First Name</label>
                                    </div>
                                    <div class="input-field col s6">
                                        <input name="$last_name" id="last_name" type="text" class="validate">
                                        <label for="last_name">Last Name</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input name="email" id="email" type="email" class="validate">
                                        <label for="email">Email</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <textarea name="message" id="message" class="materialize-textarea" maxlength="300"></textarea>
                                        <label for="message">Message</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <p>
                                            <button class="btn waves-effect waves-light" type="submit" name="action">
                                                <span class="lnr lnr-rocket"></span> Submit
                                            </button>
                                        </p>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div id="contacts" class="row qt-contacts">
                            <div class="col s12">
                                <h4 class="center-align">Our contacts</h4>
                                <p><span class="lnr lnr-smartphone"></span><span>941-301-7657</span></p>
                                <p><span class="lnr lnr-pencil"></span><span>booking@electricrose.events</span></p>
                                <p><span class="lnr lnr-location"></span><span>Sarasota, Bradenton, St. Petersburg, Tampa</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>
    <!-- main section end ================================ -->
    <!-- footer section  ================================ -->
    <!-- ====================== FOOTER ================================================ -->
    <footer class="qt-footer parallax-container blue-grey-text text-lighten-5">
        <div class="parallax"><img src="images/galaxy-3.jpg" alt="background"></div>
        <div class="container center-align">
            <h3 class="qt-footertitle"><img src="images/Electric _Rose_logo_FINAL-WHITE.png" alt="Electric Rose Events"></h3>
            <h5>Copyright @(DateTime.Now.Year) ELECTRIC ROSE EVENTS</h5>
        </div>
        <div class="qt-particles" id="particlesfooter" data-color="#ffffff" data-opacity="0.2" data-speed="1"></div>
    </footer>
    <div class="qt-firefoxfix"></div>
    <!-- ====================== FOOTER END ================================================ -->
    <!-- footer section end  ================================ -->
    <!-- QT FOOTER ================================ -->
    <script src="js/modernizr-custom.js"></script>
    <script src="js/jquery.js"></script><!--  JQUERY VERSION MUST MATCH WORDPRESS ACTUAL VERSION (NOW 1.12) -->
    <script src="js/jquery-migrate.min.js"></script><!--  JQUERY VERSION MUST MATCH WORDPRESS ACTUAL VERSION (NOW 1.12) -->
    <!--  CUSTOM JS LIBRARIES: =========================================================== -->
    <script src="js/materializecss/bin/materialize.min.js"></script>
    <script src="components/slick/slick.min.js"></script>
    <script src="components/skrollr/skrollr.min.js"></script>
    <script src="components/particles/particles.min.js"></script>

    <script src="components/swipebox/lib/ios-orientationchange-fix.js"></script>
    <script src="components/swipebox/src/js/jquery.swipebox.min.js"></script>

    <!-- MAIN JAVASCRIPT FILE ================================ -->
    <script src="js/qt-main.js"></script>

    <script type="text/javascript">
        jQuery(function(){
            url = new URL(window.location.href);
            if (url.searchParams.has('success')) {
                alert("Your message has been sent!");
            }
        });
    </script>

</body>
</html>
